---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/contact/companies/3/persons?company_id=3&page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9867'
      etag:
      - W/"f28ef38e9311c552fb3d9b9f3d83cc0a"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":1,"has_more":false,"entries":[{"type":"person","id":3,"first_name":"Belle","last_name":"Dolphin","title":"Dr.
        rer. nat.","salutation":"Frau","position":"Top","department":"Fox","phone":"123456","skype":"123456","fax":"123456","email":"<EMAIL>","flagged":null,"created_at":"2023-04-12T16:01:33.000+02:00","updated_at":"2023-04-12T16:01:33.000+02:00","mobile":"123456","comment":"belle","default":true}]}'
  recorded_at: Wed, 12 Apr 2023 15:19:22 GMT
recorded_with: VCR 6.1.0
