---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/expense/vouchers?page=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '8775'
      etag:
      - W/"bceb56118abfd16b414df526e46fb8a9"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":10,"total_pages":22,"total_entries":215,"has_more":true,"entries":[{"type":"expense_voucher","id":7,"name":"B-00003
        - 2019-12-12","due_date":null,"document_date":"2019-12-12","description":"","entertainment_reason":"","flagged":null,"provenance":"domestic","voucher_no":"B-00003","state":null,"record_state":"active","amount":119.0,"invoice_amount":0.0,"entertainment_persons":[]},{"type":"expense_voucher","id":10,"name":"B-00004
        - 2020-01-03","due_date":null,"document_date":"2020-01-03","description":"","entertainment_reason":"","flagged":null,"provenance":"domestic","voucher_no":"B-00004","state":"unpaid","record_state":"active","amount":119.0,"invoice_amount":0.0,"entertainment_persons":[]},{"type":"expense_voucher","id":13,"name":"B-00005
        - 2020-01-07","due_date":"2020-01-07","document_date":"2020-01-07","description":"","entertainment_reason":"","[...]
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/expense/vouchers/7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '8774'
      etag:
      - W/"011ea386eb6dd46076a1a20316112d2d"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"expense_voucher","id":7,"name":"B-00003 - 2019-12-12","due_date":null,"document_date":"2019-12-12","description":"","entertainment_reason":"","flagged":null,"provenance":"domestic","voucher_no":"B-00003","state":null,"record_state":"active","amount":119.0,"invoice_amount":0.0,"entertainment_persons":[],"creditor":null,"line_items":[{"name":"2019-12-12","amount":119.0,"category":"Bewirtungskosten","vat_rate":"19%","billing":null,"depreciation":null}],"documents":[]}'
  recorded_at: Sun, 16 Apr 2023 11:20:50 GMT
recorded_with: VCR 6.1.0
