---
http_interactions:
- request:
    method: delete
    uri: https://simonneutert.papierkram.de/api/v1/contact/companies/123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"error","error_type":"not_found","message":"Couldn''t find
        Contact::Company with ''id''=123456789","correlation_id":"0d09e0f3-e9e1-43da-84c0-4e4e27c60c53"}'
  recorded_at: Wed, 28 Jun 2023 15:05:47 GMT
recorded_with: VCR 6.2.0
