---
http_interactions:
- request:
    method: post
    uri: https://simonneutert.papierkram.de/api/v1/contact/companies
    body:
      encoding: UTF-8
      string: '{"contact_type":"customer","name":"","phone":"123456789","fax":null,"email":null,"delivery_method":null,"ust_idnr":null,"website":null,"twitter":null,"postal_street":null,"postal_city":null,"postal_zip":null,"postal_country":null,"physical_street":null,"physical_city":null,"physical_zip":null,"physical_country":null,"bank_blz":null,"bank_institute":null,"bank_account_no":null,"bank_bic":null,"bank_iban":null,"notes":null,"color":null}'
    headers:
      Authorization:
      - Bearer <API BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 422 Unprocessable Entity
      x-remaining-quota:
      - '9979'
      x-consumed-quota:
      - '10'
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"error","error_type":"unprocessable_entity","message":"Name
        muss ausgefüllt werden","correlation_id":"04de9f0e-d2de-417d-9993-f4ed9c47d63e"}'
  recorded_at: Wed, 28 Jun 2023 15:01:09 GMT
recorded_with: VCR 6.2.0
