---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/contact/companies?page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9880'
      etag:
      - W/"469f5798a25b35ab5d3c9409d284ed1a"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":1,"has_more":false,"entries":[{"type":"company","id":3,"name":"Büffelranch
        Johnny","contact_type":"customer","supplier_no":null,"customer_no":"K-00001","email":"<EMAIL>","phone":"","website":"","twitter":"","fax":"","postal_street":null,"postal_zip":null,"postal_city":null,"postal_country":"Deutschland","physical_street":null,"physical_zip":null,"physical_city":null,"physical_country":"Deutschland","delivery_method":"pdf","ust_idnr":"","logo_file_name":null,"logo_content_type":null,"logo_file_size":null,"logo_updated_at":null,"bank_blz":"","bank_institute":"","bank_account_no":"","bank_bic":"","bank_sepa_mandate_reference":"SEPAMRK00001BJ","bank_sepa_mandate_accepted":null,"bank_iban":"","inbound_address":"euch","notes":"","record_state":"active","flagged":null,"created_at":"2018-03-06T15:57:36.000+01:00","updated_at":"2023-04-12T08:13:56.000+02:00","color":"blue"}]}'
  recorded_at: Wed, 12 Apr 2023 15:19:20 GMT
recorded_with: VCR 6.1.0
