---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/contact/companies/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9922'
      x-consumed-quota:
      - '1'
      etag:
      - W/"b9a850a7595dcd695eb5d3f24895e658"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"company","id":3,"name":"adsad asd","contact_type":"customer","supplier_no":null,"customer_no":"K-00001","email":null,"phone":"<PHONE>","website":"","twitter":"","fax":"<FAX>","postal_street":"as
        d","postal_zip":"16845","postal_city":"Kyritz Holzhausen","postal_country":"Deutschland","physical_street":null,"physical_zip":null,"physical_city":null,"physical_country":"Deutschland","delivery_method":"pdf","ust_idnr":"","logo_file_name":null,"logo_content_type":null,"logo_file_size":null,"logo_updated_at":null,"bank_blz":"<BLZ>","bank_institute":"","bank_account_no":"<ACCOUNT_NO>","bank_bic":"<BIC>","bank_sepa_mandate_reference":"SEPAMRK00001AA","bank_sepa_mandate_accepted":null,"bank_iban":"<IBAN>","inbound_address":"xaja","notes":"","record_state":"active","flagged":null,"created_at":"2023-04-27T17:07:47.000+02:00","updated_at":"2023-12-02T21:55:59.000+01:00","color":"blue","people":{"type":"list","has_more":false,"url":"/api/v1/contact/companies/3/persons","entries":[{"type":"person","id":6,"first_name":"XXX","last_name":"Musterwoman"}]},"custom_attributes":[],"projects":{"type":"list","has_more":false,"url":"/api/v1/projects?company_id=3","entries":[{"type":"project","id":9,"name":"Test
        Project"},{"type":"project","id":15,"name":"Test Projectesticle"}]},"invoices":{"type":"list","has_more":false,"url":"/api/v1/income/invoices?company_id=3","entries":[{"type":"invoice","id":3,"name":""},{"type":"invoice","id":6,"name":""}]},"vouchers":{"type":"list","has_more":false,"url":"/api/v1/expense/vouchers?company_id=3","entries":[]}}'
  recorded_at: Sat, 02 Dec 2023 21:13:36 GMT
recorded_with: VCR 6.2.0
