---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/contact/companies/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9879'
      etag:
      - W/"9bc146600476eef50ca0fcad754a404d"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"company","id":3,"name":"Büffelranch Johnny","contact_type":"customer","supplier_no":null,"customer_no":"K-00001","email":"<EMAIL>","phone":"","website":"","twitter":"","fax":"","postal_street":null,"postal_zip":null,"postal_city":null,"postal_country":"Deutschland","physical_street":null,"physical_zip":null,"physical_city":null,"physical_country":"Deutschland","delivery_method":"pdf","ust_idnr":"","logo_file_name":null,"logo_content_type":null,"logo_file_size":null,"logo_updated_at":null,"bank_blz":"","bank_institute":"","bank_account_no":"","bank_bic":"","bank_sepa_mandate_reference":"SEPAMRK00001BJ","bank_sepa_mandate_accepted":null,"bank_iban":"","inbound_address":"euch","notes":"","record_state":"active","flagged":null,"created_at":"2018-03-06T15:57:36.000+01:00","updated_at":"2023-04-12T08:13:56.000+02:00","color":"blue","people":{"type":"list","has_more":false,"url":"/api/v1/contact/companies/3/persons","entries":[{"type":"person","id":3,"first_name":"Belle","last_name":"Dolphin"}]},"projects":{"type":"list","has_more":false,"url":"/api/v1/projects?company_id=3","entries":[{"type":"project","id":3,"name":"Kein
        Projekt"},{"type":"project","id":4,"name":"Yo"},{"type":"project","id":5,"name":"Simlinger
        Büffeln"}]},"invoices":{"type":"list","has_more":true,"url":"/api/v1/income/invoices?company_id=3","entries":[{"type":"invoice","id":2,"name":""},{"type":"invoice","id":10,"name":""},{"type":"invoice","id":13,"name":""},{"type":"invoice","id":16,"name":""},{"type":"invoice","id":17,"name":""},{"type":"invoice","id":19,"name":"Wilhelmssens"},{"type":"invoice","id":25,"name":""},{"type":"invoice","id":28,"name":""},{"type":"invoice","id":31,"name":""},{"type":"invoice","id":32,"name":""}]},"vouchers":{"type":"list","has_more":false,"url":"/api/v1/expense/vouchers?company_id=3","entries":[]}}'
  recorded_at: Wed, 12 Apr 2023 15:19:21 GMT
recorded_with: VCR 6.1.0
