---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/contact/companies?page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9924'
      x-consumed-quota:
      - '1'
      etag:
      - W/"a9686f83639a74569e71612e9f22481b"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":1,"has_more":false,"entries":[{"type":"company","id":3,"name":"adsad
        asd","contact_type":"customer","supplier_no":null,"customer_no":"K-00001","email":null,"phone":"<PHONE>","website":"","twitter":"","fax":"<FAX>","postal_street":"as
        d","postal_zip":"16845","postal_city":"Kyritz Holzhausen","postal_country":"Deutschland","physical_street":null,"physical_zip":null,"physical_city":null,"physical_country":"Deutschland","delivery_method":"pdf","ust_idnr":"","logo_file_name":null,"logo_content_type":null,"logo_file_size":null,"logo_updated_at":null,"bank_blz":"<BLZ>","bank_institute":"","bank_account_no":"<ACCOUNT_NO>","bank_bic":"<BIC>","bank_sepa_mandate_reference":"SEPAMRK00001AA","bank_sepa_mandate_accepted":null,"bank_iban":"<IBAN>","inbound_address":"xaja","notes":"","record_state":"active","flagged":null,"created_at":"2023-04-27T17:07:47.000+02:00","updated_at":"2023-12-02T21:55:59.000+01:00","color":"blue"}]}'
  recorded_at: Sat, 02 Dec 2023 21:12:08 GMT
recorded_with: VCR 6.2.0
