---
http_interactions:
- request:
    method: put
    uri: https://simonneutert.papierkram.de/api/v1/contact/companies/3
    body:
      encoding: UTF-8
      string: '{"phone":"123456789"}'
    headers:
      Authorization:
      - Bearer <API BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9976'
      x-consumed-quota:
      - '1'
      etag:
      - W/"282b7833b3fead7939082491767a9f27"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"company","id":3,"name":"adsad asd","contact_type":"customer","supplier_no":null,"customer_no":"K-00001","email":null,"phone":"<PHONE>","website":null,"twitter":null,"fax":null,"postal_street":"as
        d","postal_zip":"16845","postal_city":"Kyritz Holzhausen","postal_country":"Deutschland","physical_street":null,"physical_zip":null,"physical_city":null,"physical_country":"Deutschland","delivery_method":null,"ust_idnr":null,"logo_file_name":null,"logo_content_type":null,"logo_file_size":null,"logo_updated_at":null,"bank_blz":null,"bank_institute":null,"bank_account_no":null,"bank_bic":null,"bank_sepa_mandate_reference":"SEPAMRK00001AA","bank_sepa_mandate_accepted":null,"bank_iban":null,"inbound_address":"xaja","notes":null,"record_state":"active","flagged":null,"created_at":"2023-04-27T17:07:47.000+02:00","updated_at":"2023-06-28T17:05:31.000+02:00","color":null,"people":{"type":"list","has_more":false,"url":"/api/v1/contact/companies/3/persons","entries":[]},"projects":{"type":"list","has_more":false,"url":"/api/v1/projects?company_id=3","entries":[{"type":"project","id":3,"name":"Kein
        Projekt"}]},"invoices":{"type":"list","has_more":false,"url":"/api/v1/income/invoices?company_id=3","entries":[{"type":"invoice","id":3,"name":""}]},"vouchers":{"type":"list","has_more":false,"url":"/api/v1/expense/vouchers?company_id=3","entries":[]}}'
  recorded_at: Wed, 28 Jun 2023 15:05:31 GMT
recorded_with: VCR 6.2.0
