---
http_interactions:
- request:
    method: post
    uri: https://simonneutert.papierkram.de/api/v1/income/propositions/3/archive
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <API BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9889'
      x-consumed-quota:
      - '1'
      etag:
      - W/"aa3f3d3837b270b070cc4afc12ad4693"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"proposition","id":3,"name":"Software design","article_no":"123456","proposition_type":"service","description":"Here,
        we can describe what \"Software design\" actually entails.","price":"150.0","time_unit":"hour","unit_name_1":"Stunde","unit_name_n":"Stunden","record_state":"archived","flagged":null,"favorite":null,"created_at":"2023-06-29T21:59:25.000+02:00","updated_at":"2023-06-29T22:09:57.000+02:00","vat_rate":{"type":"vat_rate","id":1,"name":"19%","rate":"0.19","description":"Regulärer
        Umsatzsteuersatz für Verkäufe in Deutschland","code":"AR19P","country_code":"de","vat_rate_type":"ar","created_at":"2014-06-20T15:30:48.000+02:00","updated_at":"2015-02-03T18:11:45.000+01:00"}}'
  recorded_at: Thu, 29 Jun 2023 20:09:57 GMT
recorded_with: VCR 6.2.0
