---
http_interactions:
- request:
    method: post
    uri: https://simonneutert.papierkram.de/api/v1/income/propositions
    body:
      encoding: UTF-8
      string: '{"name":"Software design","article_no":"12345","description":"Here,
        we can describe what \"Software design\" actually entails.","time_unit":"hour","proposition_type":"service","price":"150.0","vat_rate":"19%"}'
    headers:
      Authorization:
      - Bearer <API BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-remaining-quota:
      - '9896'
      x-consumed-quota:
      - '10'
      location:
      - https://simonneutert.papierkram.de/einnahmen/produkte/3
      etag:
      - W/"b8c6dec00878d2d51ec54a789cb05e3f"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"proposition","id":3,"name":"Software design","article_no":"12345","proposition_type":"service","description":"Here,
        we can describe what \"Software design\" actually entails.","price":"150.0","time_unit":"hour","unit_name_1":"Stunde","unit_name_n":"Stunden","record_state":"active","flagged":null,"favorite":null,"created_at":"2023-06-29T21:59:25.000+02:00","updated_at":"2023-06-29T21:59:25.000+02:00","vat_rate":{"type":"vat_rate","id":1,"name":"19%","rate":"0.19","description":"Regulärer
        Umsatzsteuersatz für Verkäufe in Deutschland","code":"AR19P","country_code":"de","vat_rate_type":"ar","created_at":"2014-06-20T15:30:48.000+02:00","updated_at":"2015-02-03T18:11:45.000+01:00"}}'
  recorded_at: Thu, 29 Jun 2023 19:59:25 GMT
recorded_with: VCR 6.2.0
