---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/income/propositions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9925'
      x-consumed-quota:
      - '1'
      etag:
      - W/"326b0f92928a1c0905fd5ab06a998e59"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":1,"has_more":false,"entries":[{"type":"proposition","id":6,"name":"Software
        design","article_no":"123456","proposition_type":"service","description":"Here,
        we can describe what \"Software design\" actually entails.","price":"150.0","time_unit":"hour","unit_name_1":"Stunde","unit_name_n":"Stunden","record_state":"active","flagged":null,"favorite":null,"created_at":"2023-06-30T09:38:31.000+02:00","updated_at":"2023-06-30T09:39:40.000+02:00"}]}'
  recorded_at: Sat, 02 Dec 2023 21:11:02 GMT
recorded_with: VCR 6.2.0
