---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/income/propositions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9872'
      etag:
      - W/"f296a5971831d69e69812a6002255be1"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":1,"has_more":false,"entries":[{"type":"proposition","id":2,"name":"Website","proposition_type":"service","description":"Codes
        n Clicks","price":"13.37","time_unit":"hour","unit_name_1":"Stunde","unit_name_n":"Stunden","record_state":"active","flagged":null,"favorite":null,"created_at":"2018-03-06T15:57:18.000+01:00","updated_at":"2018-03-06T15:57:18.000+01:00"}]}'
  recorded_at: Wed, 12 Apr 2023 15:19:22 GMT
recorded_with: VCR 6.1.0
