---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/income/propositions/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9871'
      etag:
      - W/"19cee0667ab8d65b6d9b4c1c6f4df585"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"proposition","id":2,"name":"Website","proposition_type":"service","description":"Codes
        n Clicks","price":"13.37","time_unit":"hour","unit_name_1":"Stunde","unit_name_n":"Stunden","record_state":"active","flagged":null,"favorite":null,"created_at":"2018-03-06T15:57:18.000+01:00","updated_at":"2018-03-06T15:57:18.000+01:00","vat_rate":{"type":"vat_rate","id":1,"name":"19%","rate":"0.19","description":"Regulärer
        Umsatzsteuersatz für Verkäufe in Deutschland","code":"AR19P","country_code":"de","vat_rate_type":"ar","created_at":"2014-06-20T15:30:48.000+02:00","updated_at":"2015-02-03T18:11:45.000+01:00"}}'
  recorded_at: Wed, 12 Apr 2023 15:19:22 GMT
recorded_with: VCR 6.1.0
