---
http_interactions:
- request:
    method: put
    uri: https://simonneutert.papierkram.de/api/v1/income/propositions/6
    body:
      encoding: UTF-8
      string: '{"article_no":"123456"}'
    headers:
      Authorization:
      - Bearer <API BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9877'
      x-consumed-quota:
      - '1'
      etag:
      - W/"0f649ea273e17358f2f636ac11722a69"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"proposition","id":6,"name":"Software design","article_no":"123456","proposition_type":"service","description":"Here,
        we can describe what \"Software design\" actually entails.","price":"150.0","time_unit":"hour","unit_name_1":"Stunde","unit_name_n":"Stunden","record_state":"active","flagged":null,"favorite":null,"created_at":"2023-06-30T09:38:31.000+02:00","updated_at":"2023-06-30T09:39:40.000+02:00","vat_rate":{"type":"vat_rate","id":1,"name":"19%","rate":"0.19","description":"Regulärer
        Umsatzsteuersatz für Verkäufe in Deutschland","code":"AR19P","country_code":"de","vat_rate_type":"ar","created_at":"2014-06-20T15:30:48.000+02:00","updated_at":"2015-02-03T18:11:45.000+01:00"}}'
  recorded_at: Fri, 30 Jun 2023 07:39:40 GMT
recorded_with: VCR 6.2.0
