---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/banking/bank_connections/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9862'
      etag:
      - W/"a798dff41ca633ee1dcc9893b911f5c4"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"bank_connection","id":4,"name":"Standard","account_no":null,"account_type":"default","bic":null,"blz":null,"connection_type":"default","created_at":"2019-12-31T13:29:19.000+01:00","customer_id":null,"hbci":null,"hbci_host_url":null,"hbci_version":null,"primary":null,"title":"Standard","updated_at":"2020-11-03T10:31:56.000+01:00","user_id":null,"iban":""}'
  recorded_at: Wed, 12 Apr 2023 15:19:23 GMT
recorded_with: VCR 6.1.0
