---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/banking/bank_connections?page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9863'
      etag:
      - W/"d729c5d0613a54708a185c15a560720b"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":1,"has_more":false,"entries":[{"type":"bank_connection","id":4,"name":"Standard"}]}'
  recorded_at: Wed, 12 Apr 2023 15:19:23 GMT
recorded_with: VCR 6.1.0
