---
http_interactions:
- request:
    method: post
    uri: https://simonneutert.papierkram.de/api/v1/tracker/time_entries
    body:
      encoding: UTF-8
      string: '{"entry_date":"2020-05-11","started_at_time":"10:00","ended_at_time":"12:00","task":{"id":3},"user":{"id":3},"comments":"Worked
        hard"}'
    headers:
      Authorization:
      - Bearer <API BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-remaining-quota:
      - '9934'
      x-consumed-quota:
      - '10'
      location:
      - https://simonneutert.papierkram.de/zeiterfassung/buchungen/3
      etag:
      - W/"35de8842de5db939dbaa258d11d7d5ec"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"time_entry","id":3,"user_id":3,"task_id":3,"project_id":9,"invoice_id":null,"started_at":"2020-05-11T10:00:00.000+02:00","ended_at":"2020-05-11T12:00:00.000+02:00","duration":7200,"comments":"Worked
        hard","fingerprint":"20231202202352956","record_state":"active","billable_duration":7200,"unbillable":false,"created_at":"2023-12-02T21:23:52.000+01:00","updated_at":"2023-12-02T21:23:52.000+01:00","project":{"type":"project","id":9,"name":"Test
        Project","description":null,"start_date":"2020-01-01","end_date":"2020-12-31","flagged":null,"budget_type":null,"budget_money":null,"budget_time":null,"budget_time_unit":null,"customer_default":false,"record_state":"active","created_at":"2023-06-28T20:17:59.000+02:00","updated_at":"2023-12-02T21:23:52.000+01:00","company_id":3,"color":null},"task":{"type":"task","id":3,"name":"Test
        Tracker Taski","project_id":9,"relative_costs":null,"complete":null,"deadline":null,"flagged":null,"record_state":"active","created_at":"2023-12-02T20:59:29.000+01:00","updated_at":"2023-12-02T21:23:52.000+01:00"},"user":{"type":"user","id":3,"full_name":"<FULL_NAME>","first_name":"Simon","last_name":"Neutert","role":"owner","role_f":"Accountinhaber","email":"<EMAIL>"},"invoice":null}'
  recorded_at: Sat, 02 Dec 2023 20:23:52 GMT
recorded_with: VCR 6.2.0
