---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/tracker/time_entries?page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9870'
      etag:
      - W/"f91cb99f8532a6255ec88c7f92de5fb2"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":2,"has_more":false,"entries":[{"type":"time_entry","id":1,"user_id":3,"task_id":1,"project_id":3,"started_at":"2019-05-02T11:32:00.000+02:00","ended_at":"2019-05-02T11:43:00.000+02:00","duration":660,"comments":"Yo","fingerprint":"20230412151922474","record_state":"active","billable_duration":660,"unbillable":false,"created_at":"2019-05-02T11:43:50.000+02:00","updated_at":"2019-05-02T11:43:50.000+02:00"},{"type":"time_entry","id":4,"user_id":3,"task_id":1,"project_id":3,"started_at":"2019-11-19T17:55:00.000+01:00","ended_at":"2019-11-19T17:56:00.000+01:00","duration":60,"comments":"DaniDW","fingerprint":"20230412151922977","record_state":"active","billable_duration":60,"unbillable":false,"created_at":"2019-11-19T17:56:57.000+01:00","updated_at":"2019-11-19T17:56:57.000+01:00"}]}'
  recorded_at: Wed, 12 Apr 2023 15:19:22 GMT
recorded_with: VCR 6.1.0
