---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/tracker/time_entries?page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9915'
      x-consumed-quota:
      - '1'
      etag:
      - W/"205ddaa8fa4ab2a2ffd895fbe3b252d9"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":1,"has_more":false,"entries":[{"type":"time_entry","id":3,"user_id":3,"task_id":3,"project_id":9,"invoice_id":null,"started_at":"2020-05-11T10:00:00.000+02:00","ended_at":"2020-05-11T12:00:00.000+02:00","duration":7200,"comments":"Worked
        very hard","fingerprint":"20231204153150225","record_state":"active","billable_duration":7200,"unbillable":false,"created_at":"2023-12-02T21:23:52.000+01:00","updated_at":"2023-12-02T21:29:59.000+01:00"}]}'
  recorded_at: Mon, 04 Dec 2023 15:31:50 GMT
recorded_with: VCR 6.2.0
