---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/tracker/time_entries/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9869'
      etag:
      - W/"7d5fb9b6e31c38a87df8d81677b20e0f"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"time_entry","id":1,"user_id":3,"task_id":1,"project_id":3,"started_at":"2019-05-02T11:32:00.000+02:00","ended_at":"2019-05-02T11:43:00.000+02:00","duration":660,"comments":"Yo","fingerprint":"20230412151922941","record_state":"active","billable_duration":660,"unbillable":false,"created_at":"2019-05-02T11:43:50.000+02:00","updated_at":"2019-05-02T11:43:50.000+02:00","project":{"type":"project","id":3,"name":"Kein
        Projekt","description":null,"start_date":null,"end_date":null,"flagged":null,"budget_type":null,"budget_money":null,"budget_time":null,"budget_time_unit":null,"customer_default":true,"record_state":"active","created_at":"2018-03-06T15:57:36.000+01:00","updated_at":"2023-04-12T08:13:56.000+02:00","company_id":3,"color":null},"task":{"type":"task","id":1,"name":"A","project_id":3,"relative_costs":null,"complete":null,"deadline":null,"flagged":null,"record_state":"active","created_at":"2019-05-02T11:43:50.000+02:00","updated_at":"2019-11-19T17:56:57.000+01:00"},"user":{"type":"user","id":3,"full_name":"Simon
        Neutert","first_name":"Simon","last_name":"Neutert","role_f":"Accountinhaber","email":"<EMAIL>"},"invoice":null}'
  recorded_at: Wed, 12 Apr 2023 15:19:22 GMT
recorded_with: VCR 6.1.0
