---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/income/estimates?page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9865'
      etag:
      - W/"531ac1a1adff9de64d625a1e3741e971"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":1,"has_more":false,"entries":[{"type":"estimate","id":1,"name":"","description":"","document_date":"2020-01-29","customer_no":"K-00001","estimate_no":null,"sent_on":null,"sent_via":null,"sent_to":null,"state":"draft","record_state":"active","custom_template":null,"total_net":26.74,"total_vat":5.08,"total_gross":31.82,"billing":{"company":"Büffelranch
        Johnny","email":null,"ust_idnr":"","street":"","zip":"","city":"","country":"Deutschland","contact_person":"","department":""}}]}'
  recorded_at: Wed, 12 Apr 2023 15:19:23 GMT
recorded_with: VCR 6.1.0
