---
http_interactions:
- request:
    method: post
    uri: https://simonneutert.papierkram.de/api/v1/tracker/tasks
    body:
      encoding: UTF-8
      string: '{"name":"Test Tracker Task","project":{"id":9},"proposition":{"id":6}}'
    headers:
      Authorization:
      - Bearer <API BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-remaining-quota:
      - '9965'
      x-consumed-quota:
      - '10'
      location:
      - https://simonneutert.papierkram.de/zeiterfassung/aufgaben/3
      etag:
      - W/"4731b4f1b35d613d9fb978d3f11fcb56"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"task","id":3,"name":"Test Tracker Task","project_id":9,"relative_costs":null,"complete":null,"deadline":null,"flagged":null,"record_state":"active","created_at":"2023-12-02T20:59:29.000+01:00","updated_at":"2023-12-02T20:59:29.000+01:00","project":{"type":"project","id":9,"name":"Test
        Project","description":null,"start_date":"2020-01-01","end_date":"2020-12-31","flagged":null,"budget_type":null,"budget_money":null,"budget_time":null,"budget_time_unit":null,"customer_default":false,"record_state":"active","created_at":"2023-06-28T20:17:59.000+02:00","updated_at":"2023-12-02T20:59:29.000+01:00","company_id":3,"color":null},"proposition":{"type":"proposition","id":6,"name":"Software
        design","article_no":"123456","proposition_type":"service","description":"Here,
        we can describe what \"Software design\" actually entails.","price":"150.0","time_unit":"hour","unit_name_1":"Stunde","unit_name_n":"Stunden","record_state":"active","flagged":null,"favorite":null,"created_at":"2023-06-30T09:38:31.000+02:00","updated_at":"2023-06-30T09:39:40.000+02:00"},"user":null}'
  recorded_at: Sat, 02 Dec 2023 19:59:29 GMT
recorded_with: VCR 6.2.0
