---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/tracker/tasks?page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9912'
      x-consumed-quota:
      - '1'
      etag:
      - W/"14e930b28cf45313398adcd4167f9fbd"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":1,"has_more":false,"entries":[{"type":"task","id":3,"name":"Test
        Tracker Taski","project_id":9,"relative_costs":null,"complete":null,"deadline":null,"flagged":null,"record_state":"active","created_at":"2023-12-02T20:59:29.000+01:00","updated_at":"2023-12-02T21:29:59.000+01:00"}]}'
  recorded_at: Mon, 04 Dec 2023 15:31:51 GMT
recorded_with: VCR 6.2.0
