---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/tracker/tasks?page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9874'
      etag:
      - W/"139b29d727ffb3900f1b05cd892878a0"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":1,"has_more":false,"entries":[{"type":"task","id":1,"name":"A","project_id":3,"relative_costs":null,"complete":null,"deadline":null,"flagged":null,"record_state":"active","created_at":"2019-05-02T11:43:50.000+02:00","updated_at":"2019-11-19T17:56:57.000+01:00"}]}'
  recorded_at: Wed, 12 Apr 2023 15:19:21 GMT
recorded_with: VCR 6.1.0
