---
http_interactions:
- request:
    method: post
    uri: https://simonneutert.papierkram.de/api/v1/expense/vouchers/3/archive
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <API BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9838'
      x-consumed-quota:
      - '1'
      etag:
      - W/"675e61941e1a85a65cebdbb719fec0dc"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"expense_voucher","id":3,"name":"Restaurant lecker Essen essen","due_date":"2020-06-30","document_date":"2020-06-14","description":"Took
        customer for dinner.","entertainment_reason":"sales meeting","flagged":true,"provenance":"domestic","voucher_no":"B-00001","state":"unpaid","record_state":"archived","amount":165.8,"invoice_amount":0.0,"entertainment_persons":["Carl
        Customer"],"creditor":{"type":"company","id":9,"name":"Luzy Katze","contact_type":"supplier","supplier_no":"L-00001","customer_no":null,"email":null,"phone":"<PHONE>","website":"","twitter":"","fax":"<FAX>","postal_street":null,"postal_zip":null,"postal_city":null,"postal_country":"Deutschland","physical_street":null,"physical_zip":null,"physical_city":null,"physical_country":"Deutschland","delivery_method":"pdf","ust_idnr":"","logo_file_name":null,"logo_content_type":null,"logo_file_size":null,"logo_updated_at":null,"bank_blz":"<BLZ>","bank_institute":"","bank_account_no":"<ACCOUNT_NO>","bank_bic":"<BIC>","bank_sepa_mandate_reference":"SEPAMRL00001LK","bank_sepa_mandate_accepted":null,"bank_iban":"<IBAN>","inbound_address":"456z","notes":"","record_state":"active","flagged":null,"created_at":"2024-01-11T20:22:21.000+01:00","updated_at":"2024-01-11T20:22:21.000+01:00","color":"blue"},"line_items":[{"name":"restaurant
        bill","amount":150.8,"category":"Bewirtungskosten","vat_rate":"19%","billing":null,"depreciation":null},{"name":"tip","amount":15.0,"category":"Bewirtungskosten","vat_rate":"19%","billing":null,"depreciation":null}],"documents":[{"type":"document","id":3,"uri":"https://simonneutert.papierkram.de/system/attachments/98931/documents/3/51dd3d582736d292ef92ca3a2dd2e600b8a3b1e5/data/original/YES.pdf?1705001516"}]}'
  recorded_at: Thu, 11 Jan 2024 19:56:32 GMT
recorded_with: VCR 6.2.0
