---
http_interactions:
- request:
    method: post
    uri: https://simonneutert.papierkram.de/api/v1/expense/vouchers
    body:
      encoding: UTF-8
      string: '{"name":"Restaurant visit","line_items":[{"amount":150.8,"name":"restaurant
        bill","vat_rate":"19%","category":"Bewirtungskosten"},{"amount":15,"name":"tip","vat_rate":"19%","category":"Bewirtungskosten"}],"provenance":"domestic","due_date":"2020-06-30","document_date":"2020-06-14","description":"Took
        customer for dinner.","entertainment_reason":"sales meeting","entertainment_persons":["Carl
        Customer"],"flagged":true,"creditor":{"id":9}}'
    headers:
      Authorization:
      - Bearer <API BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-remaining-quota:
      - '9682'
      x-consumed-quota:
      - '50'
      location:
      - https://simonneutert.papierkram.de/ausgaben/belege/12
      etag:
      - W/"fe0feeeb82208cd20e6064ade6ca126a"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"expense_voucher","id":12,"name":"Restaurant visit","due_date":"2020-06-30","document_date":"2020-06-14","description":"Took
        customer for dinner.","entertainment_reason":"sales meeting","flagged":true,"provenance":"domestic","voucher_no":"B-00004","state":"unpaid","record_state":"active","amount":165.8,"invoice_amount":0.0,"entertainment_persons":["Carl
        Customer"],"creditor":{"type":"company","id":9,"name":"Luzy Katze","contact_type":"supplier","supplier_no":"L-00001","customer_no":null,"email":null,"phone":"<PHONE>","website":"","twitter":"","fax":"<FAX>","postal_street":null,"postal_zip":null,"postal_city":null,"postal_country":"Deutschland","physical_street":null,"physical_zip":null,"physical_city":null,"physical_country":"Deutschland","delivery_method":"pdf","ust_idnr":"","logo_file_name":null,"logo_content_type":null,"logo_file_size":null,"logo_updated_at":null,"bank_blz":"<BLZ>","bank_institute":"","bank_account_no":"<ACCOUNT_NO>","bank_bic":"<BIC>","bank_sepa_mandate_reference":"SEPAMRL00001LK","bank_sepa_mandate_accepted":null,"bank_iban":"<IBAN>","inbound_address":"456z","notes":"","record_state":"active","flagged":null,"created_at":"2024-01-11T20:22:21.000+01:00","updated_at":"2024-01-11T20:22:21.000+01:00","color":"blue"},"line_items":[{"name":"restaurant
        bill","amount":150.8,"category":"Bewirtungskosten","vat_rate":"19%","billing":null,"depreciation":null},{"name":"tip","amount":15.0,"category":"Bewirtungskosten","vat_rate":"19%","billing":null,"depreciation":null}],"documents":[]}'
  recorded_at: Fri, 12 Jan 2024 20:35:17 GMT
- request:
    method: post
    uri: https://simonneutert.papierkram.de/api/v1/expense/vouchers/12/pay
    body:
      encoding: UTF-8
      string: '{"value":165.8}'
    headers:
      Authorization:
      - Bearer <API BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9681'
      x-consumed-quota:
      - '1'
      etag:
      - W/"fe0feeeb82208cd20e6064ade6ca126a"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
    [...]
- request:
    method: post
    uri: https://simonneutert.papierkram.de/api/v1/expense/vouchers/12/cancel_with_reverse_entry
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <API BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9680'
      x-consumed-[...]
