---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/expense/vouchers?order_by=id&order_direction=desc&page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '8807'
      etag:
      - W/"1d67b5d8903a1f106705505a0be1d850"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":3,"total_entries":215,"has_more":true,"entries":[{"type":"expense_voucher","id":650,"name":"B-00217
        - 2020-08-04","due_date":"2020-08-04","document_date":"2020-08-04","description":"","entertainment_reason":"","flagged":false,"provenance":"domestic","voucher_no":"B-00217","state":"unpaid","record_state":"active","amount":119.0,"invoice_amount":0.0,"entertainment_persons":[]},{"type":"expense_voucher","id":647,"name":"B-00216
        - 2020-08-03","due_date":"2020-08-03","document_date":"2020-08-03","description":"","entertainment_reason":"","flagged":false,"provenance":"domestic","voucher_no":"B-00216","state":"unpaid","record_state":"active","amount":119.0,"invoice_amount":0.0,"entertainment_persons":[]},{"type":"expense_voucher","id":644,"name":"B-00215
        - 2020-08-02","due_date":"2020-08-02","document_date":"2020-08-02","description":"","entertainment_r[...]
