---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/expense/vouchers/650
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '8808'
      etag:
      - W/"336c1f934bc7cf3b1661ffea213dc3cf"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"expense_voucher","id":650,"name":"B-00217 - 2020-08-04","due_date":"2020-08-04","document_date":"2020-08-04","description":"","entertainment_reason":"","flagged":false,"provenance":"domestic","voucher_no":"B-00217","state":"unpaid","record_state":"active","amount":119.0,"invoice_amount":0.0,"entertainment_persons":[],"creditor":null,"line_items":[{"name":"2020-01-03","amount":119.0,"category":"Betriebsbedarf","vat_rate":"19%","billing":null,"depreciation":null}],"documents":[]}'
  recorded_at: Sat, 15 Apr 2023 17:46:17 GMT
recorded_with: VCR 6.1.0
