---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/projects?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9876'
      etag:
      - W/"339a445e284fa982ffb37fecc11c19bc"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":3,"has_more":false,"entries":[{"type":"project","id":3,"name":"Kein
        Projekt","description":null,"start_date":null,"end_date":null,"flagged":null,"budget_type":null,"budget_money":null,"budget_time":null,"budget_time_unit":null,"customer_default":true,"record_state":"active","created_at":"2018-03-06T15:57:36.000+01:00","updated_at":"2023-04-12T08:13:56.000+02:00","company_id":3,"color":null},{"type":"project","id":4,"name":"Yo","description":"","start_date":null,"end_date":null,"flagged":null,"budget_type":"money","budget_money":null,"budget_time":null,"budget_time_unit":"hour","customer_default":false,"record_state":"active","created_at":"2020-02-26T10:25:15.000+01:00","updated_at":"2020-02-26T10:25:15.000+01:00","company_id":3,"color":"blue"},{"type":"project","id":5,"name":"Simlinger
        Büffeln","description":"","start_date":null,"end_date":null,"flagged":null,"budget_type":"working_time","budget_money":null,"budget_time":"1.0","budget_time_unit":"hour","customer_default":false,"record_state":"active","created_at":"2020-09-02T11:00:58.000+02:00","updated_at":"2020-09-02T11:00:58.000+02:00","company_id":3,"color":"pink"}]}'
  recorded_at: Wed, 12 Apr 2023 15:19:21 GMT
recorded_with: VCR 6.1.0
