---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/projects?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9919'
      x-consumed-quota:
      - '1'
      etag:
      - W/"31dcd33489bdfaa2745d1af509b83ca8"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":2,"has_more":false,"entries":[{"type":"project","id":9,"name":"Test
        Projecticles","description":null,"start_date":"2020-01-01","end_date":"2020-12-31","flagged":null,"budget_type":null,"budget_money":null,"budget_time":null,"budget_time_unit":null,"customer_default":false,"record_state":"active","created_at":"2023-06-28T20:17:59.000+02:00","updated_at":"2023-12-02T22:17:16.000+01:00","company_id":3,"color":null},{"type":"project","id":15,"name":"Test
        Projectesticle","description":null,"start_date":"2020-01-01","end_date":"2020-12-31","flagged":null,"budget_type":null,"budget_money":null,"budget_time":null,"budget_time_unit":null,"customer_default":false,"record_state":"active","created_at":"2023-06-28T20:31:30.000+02:00","updated_at":"2023-06-30T17:31:31.000+02:00","company_id":3,"color":null}]}'
  recorded_at: Mon, 04 Dec 2023 15:31:49 GMT
recorded_with: VCR 6.2.0
