---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/projects/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9875'
      etag:
      - W/"495428485d4d6bb9abb7f936429319cb"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"project","id":5,"name":"Simlinger Büffeln","description":"","start_date":null,"end_date":null,"flagged":null,"budget_type":"working_time","budget_money":null,"budget_time":"1.0","budget_time_unit":"hour","customer_default":false,"record_state":"active","created_at":"2020-09-02T11:00:58.000+02:00","updated_at":"2020-09-02T11:00:58.000+02:00","company_id":3,"color":"pink","default_proposition":{"type":"proposition","id":2,"name":"Website","proposition_type":"service","description":"Codes
        n Clicks","price":"13.37","time_unit":"hour","unit_name_1":"Stunde","unit_name_n":"Stunden","record_state":"active","flagged":null,"favorite":null,"created_at":"2018-03-06T15:57:18.000+01:00","updated_at":"2018-03-06T15:57:18.000+01:00"},"customer":{"type":"company","id":3,"name":"Büffelranch
        Johnny","contact_type":"customer","supplier_no":null,"customer_no":"K-00001","email":"<EMAIL>","phone":"","website":"","twitter":"","fax":"","postal_street":null,"postal_zip":null,"postal_city":null,"postal_country":"Deutschland","physical_street":null,"physical_zip":null,"physical_city":null,"physical_country":"Deutschland","delivery_method":"pdf","ust_idnr":"","logo_file_name":null,"logo_content_type":null,"logo_file_size":null,"logo_updated_at":null,"bank_blz":"","bank_institute":"","bank_account_no":"","bank_bic":"","bank_sepa_mandate_reference":"SEPAMRK00001BJ","bank_sepa_mandate_accepted":null,"bank_iban":"","inbound_address":"euch","notes":"","record_state":"active","flagged":null,"created_at":"2018-03-06T15:57:36.000+01:00","updated_at":"2023-04-12T08:13:56.000+02:00","color":"blue"},"team_members":[{"type":"user","id":3,"full_name":"Simon
        Neutert"}],"tasks":{"type":"list","has_more":false,"url":"/api/v1/tracker/tasks?project_id=5","entries":[]},"invoices":{"type":"list","has_more":false,"url":"/api/v1/income/invoices?project_id=5","entries":[]},"vouchers":{"type":"list","has_more":false,"url":"/api/v1/expense/vouchers?project_id=5","entries":[]}}'
  recorded_at: Wed, 12 Apr 2023 15:19:21 GMT
recorded_with: VCR 6.1.0
