---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/projects/9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9908'
      x-consumed-quota:
      - '1'
      etag:
      - W/"6f9ecec5b3f2f2c352663877ff86a48e"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"project","id":9,"name":"Test Projecticles","description":null,"start_date":"2020-01-01","end_date":"2020-12-31","flagged":null,"budget_type":null,"budget_money":null,"budget_time":null,"budget_time_unit":null,"customer_default":false,"record_state":"active","created_at":"2023-06-28T20:17:59.000+02:00","updated_at":"2023-12-02T22:17:16.000+01:00","company_id":3,"color":null,"default_proposition":null,"customer":{"type":"company","id":3,"name":"adsad
        asd","contact_type":"customer","supplier_no":null,"customer_no":"K-00001","email":null,"phone":"<PHONE>","website":"","twitter":"","fax":"<FAX>","postal_street":"as
        d","postal_zip":"16845","postal_city":"Kyritz Holzhausen","postal_country":"Deutschland","physical_street":null,"physical_zip":null,"physical_city":null,"physical_country":"Deutschland","delivery_method":"pdf","ust_idnr":"","logo_file_name":null,"logo_content_type":null,"logo_file_size":null,"logo_updated_at":null,"bank_blz":"<BLZ>","bank_institute":"","bank_account_no":"<ACCOUNT_NO>","bank_bic":"<BIC>","bank_sepa_mandate_reference":"SEPAMRK00001AA","bank_sepa_mandate_accepted":null,"bank_iban":"<IBAN>","inbound_address":"xaja","notes":"","record_state":"active","flagged":null,"created_at":"2023-04-27T17:07:47.000+02:00","updated_at":"2023-12-02T21:55:59.000+01:00","color":"blue"},"team_members":[],"tasks":{"type":"list","has_more":false,"url":"/api/v1/tracker/tasks?project_id=9","entries":[{"type":"task","id":3,"name":"Test
        Tracker Taski","project_id":9}]},"invoices":{"type":"list","has_more":false,"url":"/api/v1/income/invoices?project_id=9","entries":[]},"vouchers":{"type":"list","has_more":false,"url":"/api/v1/expense/vouchers?project_id=9","entries":[]}}'
  recorded_at: Mon, 04 Dec 2023 15:48:40 GMT
recorded_with: VCR 6.2.0
