---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/banking/transactions?bank_connection_id=4&page=1&page_size=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '8565'
      etag:
      - W/"89fb3f122365d5bdb88d35bd94d5822a"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":2,"total_pages":5,"total_entries":9,"has_more":true,"entries":[{"type":"banking_transaction","id":145,"state":"cleared","value":"<VALUE>","currency":"EUR","storno":null,"customerref":null,"instref":null,"gvcode":null,"text":null,"usage":"<USAGE>","transaction_type":"default","sepa":null,"from":{"bic":null,"iban":null,"account_no":null,"blz":null,"currency":null,"name":"<NAME>"},"saldo":{"value":"<VALUE>","currency":null,"timestamp":"2019-12-31T13:29:19.000+01:00"},"primanota":null,"valuta":null,"bdate":"2019-12-31T13:29:19.000+01:00","seen":true,"fintecapi_turnover_id":null,"imported_at":null,"created_at":"2019-12-31T13:29:19.000+01:00","updated_at":"2019-12-31T13:29:19.000+01:00","tags":null,"categories":null,"bank_connection":{"type":"bank_connection","id":4,"name":"Standard"}},{"type":"banking_transaction","id":148,"state":"cleared","value":"<VALUE>","currency":"EUR","storno":null,"customerref":null,"instref":null,"gvcode":null,"text":null,"usage":"<USAGE>","transaction_type":"","sepa":null,"from":{"bic":null,"iban":null,"account_no":null,"blz":null,"currency":null,"name":"<NAME>"},"saldo":{"value":"<VALUE>","currency":null,"timestamp":null},"primanota":null,"valuta":null,"bdate":null,"seen":null,"fintecapi_turnover_id":null,"imported_at":null,"created_at":"2019-12-31T13:29:19.000+01:00","updated_at":"2019-12-31T13:29:19.000+01:00","tags":null,"categories":null,"bank_connection":{"type":"bank_connection","id":4,"name":"Standard"}}]}'
  recorded_at: Sun, 23 Apr 2023 10:49:02 GMT
recorded_with: VCR 6.1.0
