---
http_interactions:
  - request:
      method: get
      uri: https://simonneutert.papierkram.de/api/v1/banking/transactions/4
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <API BEARER>
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        status:
          - 200 OK
        x-remaining-quota:
          - "8770"
        etag:
          - W/"f11b8b9ec095014620e8d657b56c0a6e"
        x-version:
          - STABLE
        x-debug-subdomain:
          - simonneutert
      body:
        encoding: UTF-8
        string:
          '{"type":"banking_transaction","id":4,"state":"imported","value":-10.0,"currency":"EUR","storno":false,"customerref":null,"instref":null,"gvcode":null,"text":"ÜBERTRAG","usage":"  /
          ÜBERWEISUNG TASCHI END-TO-END-REF.: NICHT ANGEGEBEN Ref. H183223941410595/9,
          GVC+310","transaction_type":"fintecapi","sepa":null,"from":{"bic":"XZFGHGJ3001","iban":"DE6912345678","account_no":null,"blz":null,"currency":"EUR","name":"SIMON
          NEUTERT"},"saldo":{"value":8.41,"currency":"EUR","timestamp":"2018-12-05T00:00:00.000+01:00"},"primanota":null,"valuta":null,"bdate":"2018-12-05T00:00:00.000+01:00","seen":true,"fintecapi_turnover_id":"","imported_at":"2019-12-02T14:58:30.000+01:00","created_at":"2019-12-02T14:58:30.000+01:00","updated_at":"2019-12-02T14:58:30.000+01:00","tags":null,"categories":null,"bank_connection":null}'
    recorded_at: Fri, 21 Apr 2023 12:18:05 GMT
recorded_with: VCR 6.1.0
