---
http_interactions:
  - request:
      method: get
      uri: https://simonneutert.papierkram.de/api/v1/income/invoices?page=1&page_size=100
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <API BEARER>
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        status:
          - 200 OK
        x-remaining-quota:
          - "9910"
        x-consumed-quota:
          - "1"
        etag:
          - W/"f244564f19aeb1ea4374e44d297624a0"
        x-version:
          - STABLE
        x-debug-subdomain:
          - simonneutert
      body:
        encoding: UTF-8
        string:
          '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":3,"has_more":false,"entries":[{"type":"invoice","id":2,"name":"","description":"","document_date":"2018-11-30","due_date":"2018-12-14","supply_date":"30.11.2018","customer_no":"K-00001","invoice_no":"R-00001","sent_on":"2018-11-30","sent_via":"email","sent_to":"<EMAIL>","paid_at_date":"2020-09-02","state":"paid","record_state":"active","custom_template":null,"total_net":13.37,"total_vat":2.54,"total_gross":15.91, "down_payment_total_gross": 0,"outstanding_amount":"0.0","type_of":"","billing":{"company":"Büffelranch
          Johnny","email":null,"ust_idnr":"","street":"","zip":"","city":"","country":"Deutschland","contact_person":"","department":""}},{"type":"invoice","id":3,"name":"","description":"","type_of":"","document_date":"2023-04-27","due_date":"2023-05-11","supply_date":"27.04.2023","customer_no":"K-00001","invoice_no":null,"sent_on":null,"sent_via":null,"sent_to":null,"paid_at_date":null,"state":"draft","record_state":"active","custom_template":null,"total_net":100.0,"total_vat":19.0,"total_gross":119.0,"down_payment_total_gross":0,"outstanding_amount":"119.0","billing":{"company":"adsad
          asd","email":null,"ust_idnr":"","street":"as d","zip":"16845","city":"Kyritz
          Holzhausen","country":"Deutschland","contact_person":" asd","department":"asd
          ad"}},{"type":"invoice","id":6,"name":"","description":"","type_of":"","document_date":"2023-08-22","due_date":"2023-09-05","supply_date":"22.08.2023","customer_no":"K-00001","invoice_no":null,"sent_on":null,"sent_via":null,"sent_to":null,"paid_at_date":null,"state":"draft","record_state":"active","custom_template":null,"total_net":150.0,"total_vat":28.5,"total_gross":178.5,"down_payment_total_gross":0,"outstanding_amount":"178.5","billing":{"company":"adsad
          asd","email":null,"ust_idnr":"","street":"as d","zip":"16845","city":"Kyritz
          Holzhausen","country":"Deutschland","contact_person":"","department":""}}]}'
    recorded_at: Mon, 04 Dec 2023 15:31:52 GMT
recorded_with: VCR 6.2.0
