---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/income/invoices?page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9878'
      etag:
      - W/"1427544f11b13e9be7b3b48f08d6b89c"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":12,"has_more":false,"entries":[{"type":"invoice","id":2,"name":"","description":"","document_date":"2018-11-30","due_date":"2018-12-14","supply_date":"30.11.2018","customer_no":"K-00001","invoice_no":"R-00001","sent_on":"2018-11-30","sent_via":"email","sent_to":"<EMAIL>","paid_at_date":"2020-09-02","state":"paid","record_state":"active","custom_template":null,"total_net":13.37,"total_vat":2.54,"total_gross":15.91,"billing":{"company":"Büffelranch
        Johnny","email":null,"ust_idnr":"","street":"","zip":"","city":"","country":"Deutschland","contact_person":"","department":""}},{"type":"invoice","id":10,"name":"","description":"","document_date":"2019-01-21","due_date":"2019-02-04","supply_date":"21.01.2019","customer_no":"K-00001","invoice_no":null,"sent_on":null,"sent_via":null,"sent_to":null,"paid_at_date":null,"state":"draft","record_state":"active","custom_template":null,"total_net":26.74,"total_vat":5.08,"total_gross":31.82,"billing":{"company":"Büffelranch
        Johnny","email":null,"ust_idnr":"","street":"","zip":"","city":"","country":"Deutschland","con[...]
