---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/income/payment_terms?page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9911'
      x-consumed-quota:
      - '1'
      etag:
      - W/"c88be12c4524237b89346cee6d40b925"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":21,"has_more":false,"entries":[{"type":"payment_term","id":3,"name":"10
        Tage Zahlungsfrist","cash_discount":null,"cash_discount_time":null,"cash_discount_unit":null,"due_time":10,"due_time_unit":"day","number_reminders":null,"number_dunnings":null,"dunning_fee":null,"created_at":"2018-03-06T15:55:56.000+01:00","updated_at":"2018-03-06T15:55:56.000+01:00","template":true,"default_template":false,"template_id":null,"default_reminder_template":false,"template_text":null,"payment_required":true},{"type":"payment_term","id":43,"name":"10
        Tage Zahlungsfrist","cash_discount":null,"cash_discount_time":null,"cash_discount_unit":null,"due_time":10,"due_time_unit":"day","number_reminders":null,"number_dunnings":null,"dunning_fee":null,"created_at":"2018-03-06T15:55:56.000+01:00","updated_at":"2018-03-06T15:55:56.000+01:00","template":false,"default_template":false,"template_id":3,"default_reminder_template":false,"template_text":null,"payment_required":true},{"type":"payment_term[...]
