---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/income/payment_terms/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9995'
      x-consumed-quota:
      - '1'
      etag:
      - W/"7fc2cde9ee77f46664656db2dbba7da9"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"payment_term","id":3,"name":"10 Tage Zahlungsfrist","cash_discount":null,"cash_discount_time":null,"cash_discount_unit":null,"due_time":10,"due_time_unit":"day","number_reminders":null,"number_dunnings":null,"dunning_fee":null,"created_at":"2018-03-06T15:55:56.000+01:00","updated_at":"2018-03-06T15:55:56.000+01:00","template":true,"default_template":false,"template_id":null,"default_reminder_template":false,"template_text":null,"payment_required":true,"banking_bank_connection":null}'
  recorded_at: Sat, 02 Dec 2023 19:42:10 GMT
recorded_with: VCR 6.2.0
