---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9868'
      etag:
      - W/"0f47d080236d2e818f0e15c42ef32a1b"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"api":{"version":"1.0.0"},"settings":{"custom_templates":{"invoices":[]}}}'
  recorded_at: Wed, 12 Apr 2023 15:19:22 GMT
recorded_with: VCR 6.1.0
