---
http_interactions:
- request:
    method: post
    uri: https://simonneutert.papierkram.de/api/v1/contact/companies/3/persons
    body:
      encoding: UTF-8
      string: '{"first_name":"Max","last_name":"Mustermann","title":null,"salutation":null,"position":null,"department":null,"email":null,"phone":null,"mobile":null,"fax":null,"skype":null,"comment":null}'
    headers:
      Authorization:
      - Bearer <API BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-remaining-quota:
      - '9963'
      x-consumed-quota:
      - '10'
      location:
      - https://simonneutert.papierkram.de/adressbuch/eintraege/3
      etag:
      - W/"17bfcdae51598bbaf4bdd899e30d4c5d"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"person","id":3,"first_name":"Max","last_name":"Mustermann","title":null,"salutation":null,"position":null,"department":null,"phone":null,"skype":null,"fax":null,"email":null,"flagged":null,"created_at":"2023-06-28T19:49:54.000+02:00","updated_at":"2023-06-28T19:49:54.000+02:00","mobile":null,"comment":null,"default":null,"company":{"type":"company","id":3,"name":"adsad
        asd","contact_type":"customer","supplier_no":null,"customer_no":"K-00001","email":null,"phone":"<PHONE>","website":null,"twitter":null,"fax":null,"postal_street":"as
        d","postal_zip":"16845","postal_city":"Kyritz Holzhausen","postal_country":"Deutschland","physical_street":null,"physical_zip":null,"physical_city":null,"physical_country":"Deutschland","delivery_method":null,"ust_idnr":null,"logo_file_name":null,"logo_content_type":null,"logo_file_size":null,"logo_updated_at":null,"bank_blz":null,"bank_institute":null,"bank_account_no":null,"bank_bic":null,"bank_sepa_mandate_reference":"SEPAMRK00001AA","bank_sepa_mandate_accepted":null,"bank_iban":null,"inbound_address":"xaja","notes":null,"record_state":"active","flagged":null,"created_at":"2023-04-27T17:07:47.000+02:00","updated_at":"2023-06-28T17:05:46.000+02:00","color":null}}'
  recorded_at: Wed, 28 Jun 2023 17:49:54 GMT
recorded_with: VCR 6.2.0
