---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/contact/companies/3/persons?company_id=3&page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9929'
      x-consumed-quota:
      - '1'
      etag:
      - W/"79d52972eee2bc223949efaa490a49bb"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":1,"has_more":false,"entries":[{"type":"person","id":6,"first_name":"XXX","last_name":"Billing","title":"","salutation":"Herr","position":"","department":"","phone":"<PHONE>","skype":"","fax":"<FAX>","email":null,"flagged":null,"created_at":"2023-12-02T21:55:59.000+01:00","updated_at":"2023-12-02T21:55:59.000+01:00","mobile":"<MOBILE>","comment":"","default":true}]}'
  recorded_at: Sat, 02 Dec 2023 20:56:33 GMT
recorded_with: VCR 6.2.0
