---
http_interactions:
- request:
    method: put
    uri: https://simonneutert.papierkram.de/api/v1/contact/companies/3/persons/6
    body:
      encoding: UTF-8
      string: '{"last_name":"Musterwoman"}'
    headers:
      Authorization:
      - Bearer <API BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '9927'
      x-consumed-quota:
      - '1'
      etag:
      - W/"5add80ebd698691fa60695ca3b268895"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"person","id":6,"first_name":"XXX","last_name":"Musterwoman","title":"","salutation":"Herr","position":"","department":"","phone":"<PHONE>","skype":"","fax":"<FAX>","email":null,"flagged":null,"created_at":"2023-12-02T21:55:59.000+01:00","updated_at":"2023-12-02T21:56:59.000+01:00","mobile":"<MOBILE>","comment":"","default":true,"company":{"type":"company","id":3,"name":"adsad
        asd","contact_type":"customer","supplier_no":null,"customer_no":"K-00001","email":null,"phone":"<PHONE>","website":"","twitter":"","fax":"<FAX>","postal_street":"as
        d","postal_zip":"16845","postal_city":"Kyritz Holzhausen","postal_country":"Deutschland","physical_street":null,"physical_zip":null,"physical_city":null,"physical_country":"Deutschland","delivery_method":"pdf","ust_idnr":"","logo_file_name":null,"logo_content_type":null,"logo_file_size":null,"logo_updated_at":null,"bank_blz":"<BLZ>","bank_institute":"","bank_account_no":"<ACCOUNT_NO>","bank_bic":"<BIC>","bank_sepa_mandate_reference":"SEPAMRK00001AA","bank_sepa_mandate_accepted":null,"bank_iban":"<IBAN>","inbound_address":"xaja","notes":"","record_state":"active","flagged":null,"created_at":"2023-04-27T17:07:47.000+02:00","updated_at":"2023-12-02T21:55:59.000+01:00","color":"blue"}}'
  recorded_at: Sat, 02 Dec 2023 20:56:59 GMT
recorded_with: VCR 6.2.0
