---
http_interactions:
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/expense/vouchers?document_date_range_end=2020-08-31&document_date_range_start=2020-08-01&page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '8783'
      etag:
      - W/"e464a7b7bf8e48937f4f5cda7c1b5a47"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"list","page":1,"page_size":100,"total_pages":1,"total_entries":4,"has_more":false,"entries":[{"type":"expense_voucher","id":641,"name":"B-00214
        - 2020-08-01","due_date":"2020-08-01","document_date":"2020-08-01","description":"","entertainment_reason":"","flagged":false,"provenance":"domestic","voucher_no":"B-00214","state":"unpaid","record_state":"active","amount":119.0,"invoice_amount":0.0,"entertainment_persons":[]},{"type":"expense_voucher","id":644,"name":"B-00215
        - 2020-08-02","due_date":"2020-08-02","document_date":"2020-08-02","description":"","entertainment_reason":"","flagged":false,"provenance":"domestic","voucher_no":"B-00215","state":"unpaid","record_state":"active","amount":119.0,"invoice_amount":0.0,"entertainment_persons":[]},{"type":"expense_voucher","id":647,"name":"B-00216
        - 2020-08-03","due_date":"2020-08-03","document_date":"2020-08-03","description":"","entertainment_reason":"","flagged":false,"provenance":"domestic","voucher_no":"B-00216","state":"unpaid","record_state":"active","amount":119.0,"invoice_amount":0.0,"entertainment_persons":[]},{"type":"expense_voucher","id":650,"name":"B-00217
        - 2020-08-04","due_date":"2020-08-04","document_date":"2020-08-04","description":"","entertainment_reason":"","flagged":false,"provenance":"domestic","voucher_no":"B-00217","state":"unpaid","record_state":"active","amount":119.0,"invoice_amount":0.0,"entertainment_persons":[]}]}'
  recorded_at: Sun, 16 Apr 2023 09:12:01 GMT
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/expense/vouchers/641
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '8782'
      etag:
      - W/"3980f1e3c458adc5cc0a025dc2b243e2"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"expense_voucher","id":641,"name":"B-00214 - 2020-08-01","due_date":"2020-08-01","document_date":"2020-08-01","description":"","entertainment_reason":"","flagged":false,"provenance":"domestic","voucher_no":"B-00214","state":"unpaid","record_state":"active","amount":119.0,"invoice_amount":0.0,"entertainment_persons":[],"creditor":null,"line_items":[{"name":"2020-01-03","amount":119.0,"category":"Betriebsbedarf","vat_rate":"19%","billing":null,"depreciation":null}],"documents":[]}'
  recorded_at: Sun, 16 Apr 2023 09:12:02 GMT
[...]
- request:
    method: get
    uri: https://simonneutert.papierkram.de/api/v1/expense/vouchers/650
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-remaining-quota:
      - '8779'
      etag:
      - W/"336c1f934bc7cf3b1661ffea213dc3cf"
      x-version:
      - STABLE
      x-debug-subdomain:
      - simonneutert
    body:
      encoding: UTF-8
      string: '{"type":"expense_voucher","id":650,"name":"B-00217 - 2020-08-04","due_date":"2020-08-04","document_date":"2020-08-04","description":"","entertainment_reason":"","flagged":false,"provenance":"domestic","voucher_no":"B-00217","state":"unpaid","record_state":"active","amount":119.0,"invoice_amount":0.0,"entertainment_persons":[],"creditor":null,"line_items":[{"name":"2020-01-03","amount":119.0,"category":"Betriebsbedarf","vat_rate":"19%","billing":null,"depreciation":null}],"documents":[]}'
  recorded_at: Sun, 16 Apr 2023 09:12:02 GMT
recorded_with: VCR 6.1.0
